<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <th style="width: 20%;">{{localize "fabult.itemFields.cost"}}</th>
                <th style="width: 40%;">{{localize "fabult.itemFields.acc1"}}</th>
                <th style="width: 40%;">{{localize "fabult.itemFields.damage"}}</th>
            </tr>
            <tr>
                <td style="width: 20%;"><input type="text" name="item.system.cost" value="{{item.system.cost}}" data-dtype="Number" />
                <td style="width: 40%;">
                    <select name="item.system.acc1">
                        {{#select item.system.acc1}}
                        {{#each config.attributes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    +
                    <select name="item.system.acc2">
                        {{#select item.system.acc2}}
                        {{#each config.attributes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    +
                    <input type="text" style="width: 20%;" name="item.system.bonus" value="{{item.system.bonus}}" data-dtype="Number" />
                </td>
                <td style="width: 40%;"><input type="text" name="item.system.damage" value="{{item.system.damage}}" data-dtype="Number" />
            </tr>
        </table>
        <textarea name="data.description">{{data.description}}</textarea>
    </div>
</form>
